@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

*{
    margin: 0;
    padding: 0; 
}

body{
    background-color: #dedede;
    font-family: "Nunito", sans-serif;
}

.rodape{
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 90px;
    color: #6494be;
}

.principal{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-bottom: 30px;
    margin: 30px;
}


.principal__botoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.botoes__central{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 456px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
    height: 196px;
    background-color: #6494be;
    transition-duration: 1s;
}

.botao{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-content: center;
    align-items: center;
    color: black;
}

.botoes__central:hover{
    width: 496px;
    align-content: center;
    align-items: center;
    transition-duration: 1s;
    background-color: #425f77;
}
